@font-face {
  font-family: "Mrgvlovani";
  src: url("../../assets/fonts/bpg_mrgvlovani_2010.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MrgvlovaniCaps";
  src: url("../../assets/fonts/bpg_mrgvlovani_caps_2010.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
